.task-list-main {
    margin: 1.5rem;
    padding: 2rem;
    border: 2px solid rgb(131, 54, 18);
    border-radius: 20px;
    background-color: royalblue;
}

.task-list-title {
    margin: 1rem;
    text-align: center;
    color: beige;
}

.task-list-task-container {
    margin: 1rem;
    background-color: maroon;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.75rem;
    padding: 1.25rem;
}

.task-list-task-container div {
    background-color: rgb(0, 0, 52);
    border: 2px solid green;
    border-radius: 0.75rem;
    padding: 1.25rem;
}