.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 50px;
    background-color: #121212;
    color: white;
    z-index: 1000;
}


.navleft img {
    height: 50px;
    width: 130px;
}

.navsearch input {
    padding: 12px 240px;
    background-color: #121212;
    border: 1px solid gray;
    border-radius: 20px;
}
.navsearch i {
    font-size: 24px;
    padding: 8px;
    background-color: #2D2D2D;
    border-radius: 50%;
    margin-left: 15px;
}

.navright {
    justify-content: center;
    align-items: center;
    display: flex;
}

.navright > ul {
    list-style: none;
    gap: 30px;
    display: flex;
    flex-direction: row;
}

.navright > ul > li > a {
    color: white;
    text-decoration: none;
}
