.sidebar {
  padding: 80px 20px 20px 20px;
  height: 100vh;
  width: 220px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 12px;
}

.sidebar ul li i {
  color: white;
  font-size: 20px;
  width: 30px;
  text-align: left;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
  text-align: left;
}

.sidebar ul li:hover {
  background-color: #333;
  border-radius: 8px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 15px 0;
}

.subscription ul {
  padding-left: 10px;
}

.subscription ul li {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

.subscription ul li i {
  font-size: 18px;
  width: 30px;
  text-align: left;
}

.subscription ul li a {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.subscription ul li:hover {
  background-color: #333;
  border-radius: 8px;
}
